apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: corsheaders
spec:
  headers:
    accessControlAllowMethods:
      - "GET"
      - "OPTIONS"
      - "PUT"
      - "POST"
    accessControlAllowOriginList:
      {% for allowedURL in allowed_urls %}
      - "{{ allowedURL }}"
      {% endfor %}
    accessControlMaxAge: 100
    addVaryHeader: true
