apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: deny-private-networks-nethermind
spec:
  podSelector:
    matchLabels:
     statefulset.kubernetes.io/pod-name: {{ ethereum_network }}-nethermind-0
  policyTypes:
  - Egress
  egress:
  - to:
    - ipBlock:
       cidr: {{ allowed_range }}
       except:
       {% for range in reject_private_network_range %}
       - "{{ range }}"
       {% endfor %}
